.page-common section {
  padding: 1.3rem;
  margin: 2rem 2rem;
  font-size: large;
}

.page-common section h2 {
  text-align: left;
}

.parallax {
  background-image: url("../assets/1.png");
  min-height: 20rem;
  padding: 3rem;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 3rem;
  text-shadow: 0.1rem 0.1rem 0.5rem rgb(158, 129, 33);
  opacity: 0.9;
}

.parallax-second-image {
  background-image: url("../assets/2.jpg");
  min-height: 20rem;
  color: rgb(0, 0, 0);

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(91, 26, 92, 0.984);
  opacity: 0.9;
}

.parallax-third-image {
  background-image: url("../assets/3.png");
  min-height: 20rem;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-shadow: 0.1rem 0.1rem 0.5rem rgb(158, 129, 33);
  opacity: 0.9;
}

.parallax-fourth-image {
  background-image: url("../assets/4.jpg");
  min-height: 20rem;
  color: black;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-shadow: 0.1rem 0.1rem 0.5rem rgb(240, 213, 125);
  opacity: 0.9;
}

.parallax-fifth-image {
  background-image: url("../assets/5.png");
  min-height: 20rem;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-shadow: 0.1rem 0.1rem 0.5rem rgb(158, 129, 33);
  opacity: 0.9;
}

.parallax-sixth-image {
  background-image: url("../assets/6.jpeg");
  min-height: 20rem;
  color: rgb(84, 204, 204);

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-shadow: 0.1rem 0.1rem 0.5rem rgb(158, 129, 33);
  opacity: 0.9;
}
