.page-common {
}

.page-common section {
  padding: 1.3rem;
  margin: 2rem 2rem;
  font-size: large;
}

.page-common section h2 {
  text-align: left;
}

.parallax {
  /* The image used */
  background-image: url("../assets/1.png");

  /* Set a specific height */
  min-height: 20rem;
  padding: 3rem;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 3rem;
  text-shadow: 0.1rem 0.1rem 0.5rem rgb(158, 129, 33);
  opacity: 0.9;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.parallax-second-image {
  background-image: url("../assets/2.jpg");
  /* Set a specific height */
  min-height: 20rem;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-shadow: 0.1rem 0.1rem 0.5rem rgb(158, 129, 33);
  opacity: 0.9;
}

@media only screen and (max-device-width: 1366px) {
  .parallax-second-image {
    background-attachment: scroll;
  }
}

.parallax-third-image {
  background-image: url("../assets/3.png");
  /* Set a specific height */
  min-height: 20rem;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-shadow: 0.1rem 0.1rem 0.5rem rgb(158, 129, 33);
  opacity: 0.9;
}

@media only screen and (max-device-width: 1366px) {
  .parallax-third-image {
    background-attachment: scroll;
  }
}

.parallax-fourth-image {
  background-image: url("../assets/4.jpg");
  /* Set a specific height */
  min-height: 20rem;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-shadow: 0.1rem 0.1rem 0.5rem rgb(158, 129, 33);
  opacity: 0.9;
}

@media only screen and (max-device-width: 1366px) {
  .parallax-fourth-image {
    background-attachment: scroll;
  }
}

.parallax-fifth-image {
  background-image: url("../assets/5.png");
  /* Set a specific height */
  min-height: 20rem;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-shadow: 0.1rem 0.1rem 0.5rem rgb(158, 129, 33);
  opacity: 0.9;
}

@media only screen and (max-device-width: 1366px) {
  .parallax-fifth-image {
    background-attachment: scroll;
  }
}

.parallax-sixth-image {
  background-image: url("../assets/6.jpeg");
  /* Set a specific height */
  min-height: 20rem;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-shadow: 0.1rem 0.1rem 0.5rem rgb(158, 129, 33);
  opacity: 0.9;
}

@media only screen and (max-device-width: 1366px) {
  .parallax-sixth-image {
    background-attachment: scroll;
  }
}
